.card-container {
  margin-bottom: 10px;
}

.card-header {
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content__probability {
  margin-right: 20px;
}

.card-content_readonly {
  pointer-events: none;
}

.card-content__buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-content__buttons_edit,
.card-content__buttons_apply {
  margin-right: 5px;
}
