<form [formGroup]='form'>
  <mat-card-header class='card-header'>
    <mat-card-title>{{car.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class='card-content'>
      <mat-form-field>
        <input
          matInput
          #name
          formControlName='name'
          placeholder='Car name'
          [(ngModel)]='car.name'
          [readonly]='readonly'
        >
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          formControlName='description'
          placeholder='Car description'
          cdkTextareaAutosize
          #autosize='cdkTextareaAutosize'
          [(ngModel)]='car.description'
          [readonly]='readonly'
        ></textarea>
      </mat-form-field>

      <div>
        <mat-form-field
          [ngClass]='{
            "card-content_readonly": readonly,
            "card-content__probability": true
          }'
        >
          <mat-select
            formControlName='probability'
            placeholder='Car probability'
            [(ngModel)]='selectedProbability'
          >
            <mat-option
              *ngFor='let p of carsService.PROBABILITY'
              [value]='p.name'
            >{{p.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [class.card-content_readonly]='readonly'>
          <mat-select
            formControlName='impact'
            placeholder='Car impact'
            [(ngModel)]='selectedImpact'
          >
            <mat-option
              *ngFor='let i of carsService.IMPACT'
              [value]='i.name'
            >{{i.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class='card-content__buttons'>
          <button
            *ngIf='readonly; else apply'
            mat-stroked-button
            color='secondary'
            class='card-content__buttons_edit'
            [disabled]='areButtonsDisabled'
            (click)='editCar()'
          >Edit</button>

          <ng-template #apply>
            <button
              mat-stroked-button
              color='primary'
              class='card-content__buttons_apply'
              type='submit'
              [disabled]='areButtonsDisabled || form.status === "INVALID"'
              (click)='updateCar()'
            >Apply</button>
          </ng-template>

          <button
            mat-stroked-button
            color='warn'
            [disabled]='areButtonsDisabled'
            (click)='removeCar(car.id)'
          >Remove</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</form>
