<button
  mat-stroked-button
  color='primary'
  class='cars-details__button'
  (click)='openDialog()'
>Add car</button>

<mat-accordion *ngFor='let category of carsService.category'>
  <mat-expansion-panel
    *ngIf='getCategoryAmount(category) !== 0'
    class='cars-details__category'
  >

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.name}} ({{ getCategoryAmount(category) }})
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card *ngFor='let car of carsService.cars | categoryFilter:category' class='card-container'>
      <app-car-card [car]='car'></app-car-card>
    </mat-card>

  </mat-expansion-panel>
</mat-accordion>
